.row1 {
    background-color: #f7f7f7;
    border-radius: 20px;
    max-width: 900px;
    margin-right: auto;
    margin-top: 45px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 400px;
}

.container {
    place-items: center;
    padding-left: 200px;
}

.list-group {
    min-width: 400px;
}


.InfoList li {
    background-color: #0d6efd;
    color: #fff;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.InfoList li i {
    margin-right: 10px;
}

.InfoList li h6 {
    margin-right: 5px;
}

.container.bg-light.p-4 {
    max-height: 300px;
    overflow-y: auto;
    min-width: 400px;
    margin-right: 40px;
    overflow-x: auto;
}

.row2 {
    max-width: fit-content;
    padding-left: 325px;

}

@media (max-width: 728px) {
    .row2 {
        padding: 0;
    }
}