.container-id {
    display: flex;
    justify-content: space-between;
}
.component-id {
    flex: 1;
    padding: 20px;
}
.row1 {
    background-color:#f7f7f7;
    border-radius: 20px;
    max-width: 900px;
    margin-right: auto;
    margin-top: 45px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}
.Inside {
    border-radius: 10px;
    background-color: #0d6efd;
    border-width: 5px;
    border-color: black;
}
.InfoDiv {
    justify-content: space-between;
    border-width: 5px;
    border-color: black;
    max-width: 900px;
}
.div-right {
    min-width: 800px;
    max-width: 800px;
    margin-right: 100px;
}
.InfoList {
    list-style: none;
    padding: 0;
}
.InfoList li {
    background-color: #0d6efd;
    color: #fff;
    border: 1px solid #0d6efd;
    border-radius: 5px;
    margin-bottom: 10px;
}
.InfoList li i {
    margin-right: 10px;
}
.InfoList li h6,
.InfoList li p {
    margin: 5px;
}
.InfoList li h6 {
    margin-right: 5px;
}
.container{
    max-height: 300px;
    overflow-y: auto;
}
