.title-books{
    margin-left: 7%;
    margin-top: 1%;
}
.white-box-div{
    margin-left: 7%;
    margin-top: 1%;
    margin-right: 2%;
    padding: 1%;
    background-color: aliceblue;
}

.create-margin{
    margin-left: 58%;
}